<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/style/style.css" media="screen" title="no title" charset="utf-8" type="text/css">
    <style>
    body { 
        background-image: url("/images/triangular.png");
        font-family: 'Roboto', sans-serif;
      }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        background: #ffffff;
        text-align: center;
        overflow: auto;
        width: 60%;
        height: 700px;
        border: 5px solid black;
      }
      h1{
        text-align: center;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #ebebeb;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
    </style>
    <title>Web Scraper</title>
</head>

<body>
    {{{body}}}
</body>

</html>