<div id="wrapper">
    <h1>Web Scraper</h1>
    <h2><i>Top 10 JavaScript Libraries</i></h2>
    <div id="articles">
 
    </div>
    <div id="notes"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./app.js"></script>